<!DOCTYPE html>
<html>
<head>
    <title>Tetris</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/game.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/game.js"></script>
</head>
<body>
    <noscript>
        <h2 style="color: #ff0000">
            JavaScript is disabled. Please enable JavaScript and reload 
            the page.
        </h2>
    </noscript>

    <audio id="tetris-theme">
        <source src="tetris_arrangement.mp3">
    </audio>

    <div id="home">
        <a href="../index">Home</a>
    </div>
    
    <div id="main-content">
        <div id="tetris-display">
            <canvas id="tetris-board"> 
    
            </canvas>
            <div id="score"> 
                <p>
                    Score: 0
                </p>
            </div>
        </div>
    </div>

    <div id="start-overlay">
        <div class="player-message">
            <h2> Controls: </h2>
            <p> 
                LEFT / RIGHT: Move piece
            </p>
            <p>
                DOWN: Sonic drop (replaces soft drop)
            </p>
            <p>
                SPACE: Hard drop
            </p>
            <p>
                Z / X / UP: Rotate
            </p>
            <p>
                C / SHIFT: Hold
            </p>
            <form>
                <label for="level-select">Select level:</label>
                <select id="level-select" name="level-select" selected="1">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button class="start-button" id="start" type="button">Start</button>
            </form>
        </div>
    </div>

    <div id="game-over-overlay">
        <div class="player-message">
            <h2> Game over! </h2>
            <div id="final-score"></div>
            <form>
                <label for="restart-level-select">Restart with level:</label>
                <select id="restart-level-select" name="restart-level-select" selected="1">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button class="start-button" id="restart" type="button">Start</button>
            </form>
        </div>
    </div>

</body>
</html>