body {
    background-color: #ac4dac;
}

#main-content {
    margin: auto;
    height: 95vh;
    min-height: 500px;
    width: 82vh;
    background-color: #efefef;
    padding: 10px;
}

#tetris-display {
    position: relative;
    height: 95vh;
    min-height: 500px;
    margin: auto;
    overflow: hidden;
}