
.hover-zoom-button {
    transition: all 0.3s ease 0s;
    width: 100%;
    background-color: #fa73fa;
    text-align: center;
    border-radius: 25px;
}
.hover-zoom-button:hover {
    transform: scale(1.1);
}